params {
  project_folder = "$PWD"
  deeptools_output = "deeptools_heatmap_output"

  samples_master = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nextflow-chipseq/samples_master.csv"
  chipfilter_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  macs3_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-macs3/macs3_output"
  deeptools_macs3_profile = "strict_q0.01"
  deeptools_peak_ext = "narrowPeak"
  diffbind_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-diffbind/diffbind_output"
  diffbind_contrast = "TG.vs.WT"
  diffbind_up_prefix = "condition_unique_up"
  diffbind_down_prefix = "condition_unique_down"

  reference_condition = "WT"
  treatment_condition = "TG"

  blacklist = null
  reference_point = "center"
  before_region_start_length = 2000
  after_region_start_length  = 2000
  bin_size = 10
  extend_reads = 150
  smooth_length = 30
  center_reads = true
  ignore_duplicates = false

  color_map = "Reds"
  dpi = 300
  heatmap_height = 10
  heatmap_width = 10
  profile_height = 6
  profile_width = 8
  plot_title = null
  gain_label = null
  loss_label = null

  container_deeptools = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/deeptools-3.5.6.sif"
  container_bedtools = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/samtools-bedtools-py3.sif"
  queue = 'cpu_p'
  extra_mounts = ""

  cpus   = 8
  memory = '32 GB'
  time   = '8h'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
